# Name :   Mann Dsylva
# Rollno : 24MAI009
Practical 1 : Python Basics

In [ ]:
print('Hello World')        #print function of python to print something

Hello World

In [ ]:
#Variables
#Data Types
#Operators
#If-Else
#Loopings
#Function
#Classes

In [ ]:
name = 'Mann'
age = 22.0

print(name)
print(age)

Mann
22.0

In [ ]:
print('Hello' , name)
print(age + 5)

Hello Mann
27.0

In [ ]:
print(type(name))
print(type(age))

<class 'str'>
<class 'float'>

In [ ]:
a = 'Hello'
b = 55
c = [5,9,3,6,2,1]     #List. - Mutable
d = (3,6,8,3,4,1)    #Tuple - Immutable
e = {'a' : 'Hello' , 'b' : 45 , 'c' : [1,2,3]}

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
#[0,1,2,3,4,5]
print(c)
print(c[0])
print(c[1])
print(c[2])

[5, 9, 3, 6, 2, 1]
5
9
3

In [ ]:
print(d)
print(d[0])
print(d[1])
print(d[2])

(3, 6, 8, 3, 4, 1)
3
6
8

In [ ]:
print(c)
c[3] = 16
print(c)

[5, 9, 3, 6, 2, 1]
[5, 9, 3, 16, 2, 1]

In [ ]:
print(c)
c.append(14)
print(c)

[5, 9, 3, 16, 2, 1]
[5, 9, 3, 16, 2, 1, 14]

In [ ]:
print(c)
c.remove(16)
print(c)

[5, 9, 3, 16, 2, 1, 14]
[5, 9, 3, 2, 1, 14]

In [ ]:
print(c)
c.insert(3,13)
print(c)

[5, 9, 3, 2, 1, 14]
[5, 9, 3, 13, 2, 1, 14]

In [ ]:
c2 = [3,5,6,3,9,3,2]
c2.remove(3)  #To remove an item using value
print(c2)

[5, 6, 3, 9, 3, 2]

In [ ]:
print(c2)
c2.pop(3)  #to remove a item using index
print(c2)

[5, 6, 3, 9, 3, 2]
[5, 6, 3, 3, 2]

In [ ]:
c2.index(6) #to access index of a value

1

In [ ]:
print(d)
d[2] = 18

#tuples are immutable

(3, 6, 8, 3, 4, 1)

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(e)

{'a': 'Hello', 'b': 45, 'c': [1, 2, 3]}

In [ ]:
print(e.keys())
print(e.values())

dict_keys(['a', 'b', 'c'])
dict_values(['Hello', 45, [1, 2, 3]])

In [ ]:
print(e['a'])
print(e['b'])
print(e['c'])

Hello
45
[1, 2, 3]

In [ ]:
# for i in e:
#   if(e.value()==45):
#     print(e.key())

AttributeError: 'dict' object has no attribute 'value'

In [ ]:
print(e)
e['name'] = 'Mann'
print(e)

{'a': 'Hello', 'b': 45, 'c': [1, 2, 3]}
{'a': 'Hello', 'b': 45, 'c': [1, 2, 3], 'name': 'Mann'}

In [ ]:
#Operators/Operands --
a = 17
b = 5

#Arthmetical
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)
print(a // b)
print(a % b)

22
12
85
3.4
1419857
3
2

In [ ]:
#Comparators
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False

In [ ]:
#Division
#Multiplication
#addition
#Subtraction
print(a + (b - 4) * 4 / 2)

19.0

In [ ]:
c = a+b
print(c)

22

In [ ]:
#Bitwise operator
print(1 & 1)
print(1 & 0)
print(0 & 1)
print(0 & 0)

1
0
0
0

In [ ]:
print(True & True)
print(True & False)
print(False & True)
print(False & False)

True
False
False
False

In [ ]:
print(1 | 1)
print(1 | 0)
print(0 | 1)
print(0 | 0)

1
1
1
0

In [ ]:
#If-else
if True:
  print('Hello World')

Hello World

In [ ]:
if False:
  print('Hello Google')
else:
  print('abcde')

abcde

In [ ]:
name = input('Enter your name')

if (name == 'Mann'):
  print('Hello' , name)
else:
  print('Not Recognised')

Enter your nameMann
Hello Mann

In [ ]:
#create a program for login
#input - user name & password
#if username == 'abcde' and password == '12345' >> welcome else >> Wrong credentials

user = input('Enter the username')
passkey = input('enter the password')
u = 'Mann'
p = '12345'
if(u==user and passkey == p):
  print("correct")
else:
  print('try again')

Enter the usernameMann
enter the password12345
correct

In [ ]:
#Input - user name
#if user name is correct then only password should be fetched else message non registered user
#if password is also correct then only welcome message should be prompted

#Nested if

name = input('Enter Username: ')
if(name=='Mann'):
  password = input('Enter Password: ')
  if(password == '12345'):
    print('Welcome!')
  else:
    print('Wrong Credentials')
else:
  print('Unregistered User')

Enter Username: Mann
Enter Password: 12345
Welcome!

In [ ]:
#Loopings - While /for loop

i = 0
while i < 10:
  print(i,'Hello')
  i = i+1

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello

In [ ]:
i = 0
while True:
  print('Hello')
  i = i+1
  if i == 5:
    break

print('Hello World, How are you?')

Hello
Hello
Hello
Hello
Hello
Hello World, How are you?

In [ ]:
#for loop
for i in range(0,10):
  print(i,'Mann')

print('abcdefghijkl')

0 Mann
1 Mann
2 Mann
3 Mann
4 Mann
5 Mann
6 Mann
7 Mann
8 Mann
9 Mann
abcdefghijkl

In [ ]:
for i in range(0,10,2):
  print(i,'Mann')

0 Mann
2 Mann
4 Mann
6 Mann
8 Mann

In [ ]:
countries = ['India','Japan','USA','France','Germany']

print(len(countries))

5

In [ ]:
print(countries[0] , len(countries[0]))
print(countries[1] , len(countries[1]))
print(countries[2] , len(countries[2]))
print(countries[3] , len(countries[3]))
print(countries[4] , len(countries[4]))

India 5
Japan 5
USA 3
France 6
Germany 7

In [ ]:
for i in range(len(countries)):
  print(countries[i] , len(countries[i]))

India 5
Japan 5
USA 3
France 6
Germany 7

In [ ]:
#variable with multiple values - List,Tuple,Dict.

for val in countries:
  print(val , len(val))

India 5
Japan 5
USA 3
France 6
Germany 7

In [ ]:
#Functions

a = 4
b = 6
c = a+b
print(c)

10

In [ ]:
def sum_val():
  a = 4
  b = 6
  c = a+b
  print(c)

In [ ]:
sum_val()
print('Mann')
sum_val()
sum_val()
print('abcde')

10
Mann
10
10
abcde

In [ ]:
def sum_val(a,b):
  c = a+b
  print(c)

In [ ]:
sum_val(4,8)

12

In [ ]:
print(12 * 3)

36

In [ ]:
def sum_val(a,b):
  c = a+b
  return (c)

In [ ]:
print(sum_val(4,8) * 3)

36

In [ ]:
#Scope of variables

a = 4.     #Global variables
b = 5

def my_func():
  a = 3.        #local declarations
  b = 2
  c = a + b
  print(c)

In [ ]:
print(a+b)
my_func()
print(a+b)

9.0
5.0
9.0

In [ ]:
print(a+b)

9.0

In [ ]:
#maniputate the value of global variable from the function

x = 7
y = 9

def new_func():
  global x
  global y

  x = 3
  y = 4
  z = (x + y)
  print(z)

In [ ]:
print(x + y)

new_func()

print(x + y)

16
7
7

In [ ]:
#Classes in Python

class people:

  people1 = 'John'
  people2 = 'Mann'

  def fun(self,x):
    print('Hello',self.people1,'and',x)

  def fun2(self):
    print('Welcome',self.people2)

In [ ]:
p1 = people()

In [ ]:
p1.fun('Joy')
p1.fun2()

Hello John and Joy
Welcome Mann

In [ ]:
print(p1.people1)

John

In [ ]:
#Classes - constructor

class people:

  count = 0

  def __init__(self,name):     #Constructor
    self.n = name
    people.count += 1

  def say_hello(self):
    print('Hello, I am' , self.n)

  def total_count(self):
    print(self.count)

In [ ]:
p1 = people('Mann')
p1.say_hello()
p1.total_count()

Hello, I am Mann
1

In [ ]:
p2 = people('John')
p2.say_hello()
p2.total_count()

Hello, I am John
2

In [ ]:
p3 = people('Joy')
p3.say_hello()
p3.total_count()

Hello, I am Joy
3

In [ ]:
p4 = people('Amit')
p4.say_hello()
p4.total_count()

Hello, I am Amit
4